/* Обнуление стилей */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
}

li {
    list-style: none;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

img {
    vertical-align: top;
}

/* Создание стиля страницы */
h1 {
    color: blueviolet;
}

h2,
h3,
h4,
h5,
h6 {
    color: black;
}

p {
    color: goldenrod;
}

a {
    color: red;
}

.abstract {
    color: rgb(82, 79, 79);
}

.img-abstract {
    color: blue;
}

.p-text {
    color: bisque;
}

.p-text+* {
    color: black;
}

a.magazine {
    color: yellow;
}

p.p-title {
    color: blueviolet;
}

.description .content-item {
    color: rgb(81, 81, 82);
}

.footer>p {
    color: black;
}

p.faq-item {
    color: black;
}